@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body{
	font-family: 'Lato', sans-serif;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	overflow: hidden;
	background: #F4DE84;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}


*, *::before, *::after {
	box-sizing: border-box;
}


/*.wrapper {
	width: 1200px;
	height: 600px;
	margin: 50px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}*/
.flex-container {
	/*width: calc(33% - 30px);*/
	background: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
	flex-wrap: wrap;
	text-align: center;
	border-radius: 3px;
	padding: 40px 80px;
	margin: 0 25px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition: padding 0.5s;
}
.flex-container h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	font-weight: bold;
	line-height: 0.34em;
	letter-spacing: 1.8px;
	color: #02995b;
}
.flex-container h2 {
	font-size: 56px;
	font-weight: 400;
	line-height: 0.43em;
}
.flex-container p {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.3em;
	letter-spacing: 0.5px;
	color: #333333;
	flex-wrap: wrap;

}
.flex-container:hover {
	padding: 50px 80px;
	cursor: pointer;
	transition: padding 0.5s;
}
